<DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>

    <style>

        #cart-total{
            display: block;
            text-align: center;
            color:black;
            background-color: white;
            width: 20px;
            height: 25px;
            border-radius: 50%;
            font-size: 16px;
        }

        .dropbtn {
            color:#ffff;
            background-color: transparent;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 130px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }

    </style>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE FABRIC STORE | ONLINE SHOP</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <script type="text/javascript">

		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}


		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>

</head>
<body>

    
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'store' %}"><img src="{% static 'images/FABRIC_STORE.png' %}" width="250px"  height="150px"> </a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'store' %}">Home</a></li>
                        
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Products</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'product' 'cotton' %}">Cotton Handloom</a>
                                    <a href="{% url 'product' 'jute' %}">Jute</a>
                                    <a href="{% url 'product' 'viscose' %}">Viscose</a>
                                    <a href="{% url 'product' 'cotrey' %}">Cotrey</a>
                                    <a href="{% url 'product' 'linen' %}">Linen</a>
                                    <a href="{% url 'product' 'silk' %}">Silk</a>
                                </div>
                            </div>
                        </li>

                        <li><a href="{% url 'about-us' %}">About</a></li>
                        <li><a href="{% url 'contact_us' %}">Contacts</a></li>
                        
                        {% if  user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>

                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        


                    </ul>
                </nav>
                
                <a href="{% url 'cart' %}" id="cart-icon"><img src="{% static 'images/cart_img.png' %}" width="40px" height="40px"></a>
                {% if  user.is_authenticated %}
                    <p id="cart-total"> {{cartItems}} </p>
                {% endif %}
                <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Weaving global aspiration<br>Inspiring Fashion</h1>
                    <p>"In the modern world of business, it is useless to be a creative, original thinker <br>unless you can also sell what you create.” </p>
                    <a href="#featured-products" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="images/banner3.jpg" >
                </div>
            </div>
        </div>
    </div>
    

    <!-- Cotton -->
    <div id="featured-products">
        <div id="cotton handloom">
            <h2 class="title" > Cotton Handloom </h2>
            <div class="row">
                
                {% for product in products %}
                    {% ifequal product.category 'cotton' %}
                
                        <div class="col-4">
                            <a href='{% url 'product_detail' product.id product.name %}'><img src="{{product.imageURL}}"></a>
                            <h4><strong> {{product.name}} </strong></h4>
                            <p> <strong>Width:</strong> {{product.width}}"  &nbsp; &nbsp; <strong>Color: </strong>{{product.color}} </p>
                                
                            <p><strong>Rate:&nbsp; &#8377; {{product.price| floatformat:2}}/m </strong> </p>

                            
                        </div>

                    {% endifequal %}
                
                {% endfor %}
                
                
            </div>
        </div>
    

        <!--- Latest Products-->
        <div id="Jute">
            <h2 class="title">  Jute   </h2>
            <div class="row" >
                {% for product in products %}
                    {% ifequal product.category  'jute' %}
                        <div class="col-4">
                            <a href='{% url 'product_detail' product.id product.name %}'><img src="{{product.imageURL}}"></a>
                            <h4><strong> {{product.name}} </strong></h4>
                            <p> <strong>Width:</strong> {{product.width}}"  &nbsp; &nbsp; <strong>Color: </strong>{{product.color}} </p>
                                
                            <p><strong>Rate:&nbsp; &#8377; {{product.price| floatformat:2}}/m </strong> </p>

                            
                        </div>
                    {% endifequal %}
                    
                {% endfor %}
                
            </div>
        </div>

        <div id="Viscose">
            <h2 class="title"> Viscose  </h2>
            <div class="row">
                {% for product in products %}
                    {% ifequal product.category 'viscose' %}
                        <div class="col-4">
                            <a href='{% url 'product_detail' product.id product.name %}'><img src="{{product.imageURL}}" class="details" data-product={{product.id}} data-action="add" ></a>
                            <h4><strong> {{product.name}} </strong></h4>
                            <p> <strong>Width:</strong> {{product.width}}"  &nbsp; &nbsp; <strong>Color: </strong>{{product.color}} </p>
                                
                            <p><strong>Rate:&nbsp; &#8377; {{product.price| floatformat:2}}/m </strong> </p>

                            
                        </div>
                    {% endifequal %}
                    
                {% endfor %}
                
            </div>
        </div>


        <div id="Cotrey">

            <h2 class="title">Cotrey</h2>
            <div class="row">
                {% for product in products %}
                    {% ifequal product.category 'cotrey' %}
                        <div class="col-4">
                            <a href='{% url 'product_detail' product.id product.name %}'><img src="{{product.imageURL}}"></a>
                            <h4><strong> {{product.name}} </strong></h4>
                            <p> <strong>Width:</strong> {{product.width}}"  &nbsp; &nbsp; <strong>Color: </strong>{{product.color}} </p>
                                
                            <p><strong>Rate:&nbsp; &#8377; {{product.price| floatformat:2}}/m </strong> </p>

                            
                        </div>
                    {% endifequal %}
                    
                {% endfor %}
                
            </div>
        </div>


        <div id="Linen">
            <h2 class="title">Linen</h2>
            <div class="row">
                {% for product in products %}
                    {% ifequal product.category 'linen' %}
                        <div class="col-4">
                            <a href='{% url 'product_detail' product.id product.name %}'><img src="{{product.imageURL}}"></a>
                            <h4><strong> {{product.name}} </strong></h4>
                            <p> <strong>Width:</strong> {{product.width}}"  &nbsp; &nbsp; <strong>Color: </strong>{{product.color}} </p>
                                
                            <p><strong>Rate:&nbsp; &#8377; {{product.price| floatformat:2}}/m </strong> </p>

                            
                        </div>
                    {% endifequal %}
                    
                {% endfor %}
                
            </div>
        </div>


        <div id="Silk">
            <h2 class="title">Silk</h2>
            <div class="row">
                {% for product in products %}
                    {% ifequal product.category 'silk' %}
                        <div class="col-4">
                            <a href='{% url 'product_detail' product.id product.name %}'><img src="{{product.imageURL}}"></a>
                            <h4><strong> {{product.name}} </strong></h4>
                            <p> <strong>Width:</strong> {{product.width}}"  &nbsp; &nbsp; <strong>Color: </strong>{{product.color}} </p>
                                
                            <p><strong>Rate:&nbsp; &#8377; {{product.price| floatformat:2}}/m </strong> </p>

                            
                        </div>
                    {% endifequal %}
                    
                {% endfor %}
                
            </div>
        </div>


    </div>

    <!-- Offers
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="images/exclusive.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on RedStore</p>
                    <h1>Smart Band 4</h1>
                    <small>The MI band 4 features a 39.9% larger (than the Smart Band 3) AMOLED color full-touch display with adjustable brightness, so everything is clear as can be. </small>
                    <br>
                    <a href="" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>   -->


    <!----------Testimonial---------->
    
    <div class="testimonial">
        <div class="small-container">
            <h2 class="title"> Customer's Review </h2>
            
            <a href="{% url 'feedback' %}"><p style="text-align:right; "><strong><u> Submit Your Reviews </u></strong></p></a>
            <br><br>
            <div class="row">

                {% for feed in feeds %}
                <div class="col-3">
                    <i class="fa fa-quote-left" ></i>
                    <p>{{feed.message}}</p>
                    <div class="rating" >
                        {% for i in  feed.starr %}
                            
                            <i class="fa fa-star" ></i>
                            
                        {% endfor%}
                        {% for i in  feed.unstar %}
                            
                            <i class="fa fa-star-o" ></i>
                            
                        {% endfor%}
                        
                    </div>
                    <img src="{{feed.imageURL}}">
                    <h3>{{feed.name}}</h3>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!--------------brands-------------->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="{% static 'images/cotton-logo.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/linen-club-logo.jpg' %}">
                </div>
                <div class="col-5">
                    <img src= "{% static 'images/raymond_logo.png' %}" >
                </div>
                <div class="col-5">
                    <img src="{% static 'images/reliance-industries-logo.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/mafatlal-logo.png' %}">
                </div>
            </div>
        </div>
    </div>

    <!--------------footer-------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3> Download Our App</h3>
                    <p>Download App for Android and IOS Smartphones.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'images/Fabric_Store2.jfif' %}">
                    <p>Our Purpose is to sustainability make te pleasure and benefits of sports accessible to many as possible.</p>
                </div>
                <div class="footer-col-3">
                    <h3> Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3> Follow Us</h3>
                    <ul>
                        <a href="https://api.whatsapp.com/send?phone=+91 93105 75301&text=%20My%20order%20is%20completed%20successfully.%0aTransactionId:%20{{order.transaction}}%0aI%20want%20to%20track%20my%20order%20and%20my%20queries%20are:%0a"><li>Facebook</li><a>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 -Naman Gupta</p>
        </div>
    </div>
    <!-----------toggle menu---------->

    <script type='text/javascript'>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }

        function rate(n,m){
            for (i = 0; i < n; i++){
                $('.label').append( '<i class="fa fa-star-o" ></i>' );
            }
             for (i = 0; i < (5-n); i++){
                $('.rating').append( '<i class="fa fa-star-o" ></i>' );
            }
        }
        
    </script>

    


</body>
{% endblock content %}
</html>
